## Creating DataFrames

In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({'a':[4, 5, 6], 'b':[7, 8, 9], 'c': [10, 11, 12]}, index=[1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

We can create an array of numbers and specify the col names separately

In [5]:
df=pd.DataFrame([[4, 5, 6], [7, 8, 9],[10, 11, 12]], index=[1, 2, 3],columns=['a', 'b','c'])

df

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

Creating Multi-index data frame

In [8]:
df=pd.DataFrame({'a':[4, 5, 6], 'b':[7, 8, 9], 'c': [10, 11, 12]},index=pd.MultiIndex.from_tuples([('d',1),('d',2), ('e',2)],names =['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

## Method Chaining (Gathering columns into rows)

In [10]:
# df= (pd.melt(df).rename (columns={'variable':'var','value':'val'}).query('val' >=200))

##  Method Chaining (Spread Rows into columns)

In [12]:
#pd.pivot(columns='var', values='val')

## Appending Rows of df's

In [13]:
# pd.concat([df1, df2])

## Appending Columns of df's

In [14]:
# pd.concat([df1, df2], axis=1)

### Order rows by values (low to high)

In [15]:
# df.sort_value('mpg')

### Order rows by values( high to low)

In [16]:
# df.sort_values ('mpg', ascending=False)

### Rename Colummn of a DataFrame

In [17]:
#df.rename(columns={'y':'year'})

### Sort the index of DataFrame

In [18]:
#df.sort_index()

### Reset index of DataFrame to row numbers, moving index to columns

In [20]:
# df.reset_index()

### Drop columns from DataFrame

In [21]:
# df.drop(columns =['Length', 'Height'])

## Subset Observations (Rows)

In [22]:
# df[df.Length >5]

#### Dropping duplicates

In [23]:
#df.drop_duplicates()

### Head and Tail of DataFrame

In [24]:
# df.head(n) or df.tail(n)

### Randomly select a fraction of rows

In [26]:
# df.sample(frac=0.5)   %%% randomly selecting by fraction

#df.sample (n=10) %% randomly selects n rows

#df.iloc[10:20]    %% selects rows by position

#df.nlargest(n,'value') %% select and order top n entries

#df.nsmallest (n, 'value')  #select and order bottom n entries

### Subset Variables (Columns)

In [28]:
#df[['width', 'length', 'species']]  ## Selecting multiple columns with specific names

# df['width'] or df.width       %% Select single column with specific name

#df.filter(regex='regex')   %% Select Columns whose name matches regex

#'\.'  matches strings containing a period
#'Length$' matches strings ending with word 'Length'
#'^x[1-5]$' matches strings beginning with the 'x' and ending with 1,2,3,4,5
#'^Sepal'   matches stringes beginning with 'Sepal'
#''^(?!Species$).*'  matches strings except 'Species'

### The loc family

In [29]:
# df.loc[:,'x2', 'x3']   % selects all rows for x2 and x3 columns
# df.iloc[:, [1,2,5]]    % select all rows for 1st, 2nd and 3rd columns
#df.loc[df['a']>10, df['b', 'c']]  % selects rows meeting logical conditions and only specific columns

### Summarize Data

In [31]:
#df['w'].value_counts()  % Counting the number of rows with each unique 'w' column
#len(df)    % number of rows 
#df.['w'].nunique()  %% number of distinct values in column
#df.describe()      % basic descriptive statistics

# Summary Functions

#sum()              #max()
#count()            #var()  
#median()           #quantile([0.25,0.75])
#mean()             #apply(function)
#min()              #std()

### Handling Missing Data

In [32]:
#df.dropna()    % Drops rows with any column having N/A null data
#df.fillna(value)  % replaces all NA/null data with value

### Make New Columns

In [34]:
#df.assign(Area=lambda df:df.Length*df.Height) %% Compute and append one or more columns
#df['volume'] =df.Length*df.Height*df.Width   % Add a single column
#pd.qcut(df.col, n, labels=False)   % Bin column into n buckets

### Group Data

In [36]:
#df.groupby(by='col')   % return a GroupBy object, grouped by values in 'col'
#df.groupby(level='ind') %return a GroupBy object, grouped by index in level named index

#All of the summary functions lcan be applied to a group. Additional GroupBy functions
#size()  %size of each group
#agg(functions)   %aggregate group using function

### Combine Data Sets

In [16]:
adf=pd.DataFrame({'x1': list('ABC'), 'x2':[1,2,3]})
bdf=pd.DataFrame({'x1': list('ABD'), 'x3':['T','F','T']})
print(adf,bdf, sep='\n')

  x1  x2
0  A   1
1  B   2
2  C   3
  x1 x3
0  A  T
1  B  F
2  D  T

In [5]:
# Join matching rows from bdf to adf
pd.merge(adf,bdf, how='left', on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [6]:
#Join matching rows from adf to bdf 
pd.merge(adf,bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [7]:
#Join data. Retain only rows in both sets
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [8]:
#Join data. Retain all value,all rows
pd.merge(adf, bdf, how='outer', on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [12]:
#All rows in adf that have a match in bdf
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [10]:
#All rows in adf that do not have a match in bdf
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

In [18]:
ydf=pd.DataFrame({'x1': list('ABC'), 'x2':[1,2,3]})
zdf=pd.DataFrame({'x1': list('BCD'), 'x2':[2,3,4]})
print(ydf,zdf, sep='\n')

  x1  x2
0  A   1
1  B   2
2  C   3
  x1  x2
0  B   2
1  C   3
2  D   4

In [19]:
#rows that appear in both ydf and zdf (intersection)
pd.merge(ydf,zdf)

  x1  x2
0  B   2
1  C   3

In [20]:
#Rows that appear in either or both ydf and zdf (union)
pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [25]:
#Rows that appear in ydf but not in zdf (setdiff)
pd.merge(ydf, zdf, how='outer', indicator=True).query('_merge =="left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1

### Windows

In [ ]:
#Return an Expanding object allowing summary functions to be applied cummulatively
# df.expanding()

# Return a rolling object allowing summary functioons to be applied to windows of length n
#df.rolling(n)